.App {
  font-family: sans-serif;
  text-align: center;
}
.listItem div {
  padding: 4px;
}
a {
  color: black;
  text-decoration: none;
}
img {
  height: 25px;
  padding: 0px 6px;
}
.ListItem:nth-child(1) {
  /* Styles for the 3rd item */
  background-color: rgb(149, 40, 40);
}
.ListItem:nth-child(2) {
  /* Styles for the 3rd item */
  background-color: rgb(165, 167, 63);
}
.ListItem:nth-child(3) {
  /* Styles for the 3rd item */
  background-color: rgb(63, 92, 159);
}
